<div th:fragment="content">
  <section id="main" class="wrapper">
    <div class="inner">
      <header class="major">
        <h2>Sign In</h2>
        <p>Access your bookmarks and saved products.</p>
      </header>

      <div class="box">
        <form method="post" action="/login">
          <div class="row gtr-uniform">
            <div class="col-12">
              <input type="text" name="username" id="username" placeholder="Username" required />
            </div>

            <div class="col-12">
              <input type="password" name="password" id="password" placeholder="Password" required />
            </div>

            <div class="col-12">
              <ul class="actions">
                <li><input type="submit" value="Login" class="primary" /></li>
                <li><a href="/signup" class="button">Create Account</a></li>
              </ul>
            </div>
          </div>
        </form>
      </div>

    </div>
  </section>
</div>
