# RabbitMQ
RABBITMQ_URL=
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# PROXY
PROXY_URL=

# AWS S3 / DigitalOcean Spaces storage
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
AWS_IMAGES_FOLDER_URI=
AWS_IMAGES_FOLDER_URL=
AWS_KEY_PREFIX=
LOCAL_TEMP_FOLDER=
