.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log

.idea/
.vscode/

.pytest_cache/
.mypy_cache/
.ruff_cache/

build/
dist/
*.egg-info/

page.html
response.html
gigabyte_a16.html

downloaded_files/
extractors/scrapy/spiders/downloaded_files/

.env
.env.*
!.env.example

latest_logs
downloaded_files
temp
