<!DOCTYPE html>
<html lang="en" xmlns:th="~{http://www.thymeleaf.org}">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <title th:text="${title} ?: 'PriceScout'">PriceScout</title>
  <link rel="stylesheet" href="/css/main.css" />
  <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
</head>
<body class="is-preload" th:classappend="${bodyClass}">
  <div id="page-wrapper">

    <div th:replace="Layout/header :: header"></div>

    <!-- Page Content -->
    <div th:replace="${content}"></div>

    <div th:replace="Layout/footer :: footer"></div>

  </div>

  <!-- Scripts -->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/jquery.scrolly.min.js"></script>
  <script src="/js/jquery.dropotron.min.js"></script>
  <script src="/js/jquery.scrollex.min.js"></script>
  <script src="/js/browser.min.js"></script>
  <script src="/js/breakpoints.min.js"></script>
  <script src="/js/util.js"></script>
  <script src="/js/main.js"></script>

  <!-- Optional page scripts -->
  <script th:if="${pageScript != null}" th:src="${pageScript}"></script>
</body>
</html>
